$update-blue: #0F7ED0;
$update-dark-blue: #0E6FB7;

.exam-options {

  padding-top: 20px;
  padding-bottom: 150px;
  display: flex;
  justify-content: flex-start;

  section {
    margin-bottom: 45px;
  }

  .tag-item {
    color: #1273BA;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 282px;
    height: 33px;
    border: 1px solid #E4E1E1;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-items: center;
  }

  .update-button {
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid $update-blue;
    background: $update-blue;
    color: white;
    align-content: center;
    justify-content: center;

    &:focus {
      color: white;
      background: $update-dark-blue;
      box-shadow: 0 0 0 0 $update-dark-blue;
      border-color: $update-dark-blue;
    }

    &:hover {
      color: white;
      background: $update-dark-blue;
      border: 2px solid $update-dark-blue;
    }
  }
}
