.problem-editor-rightbar {
  .problem-editor-title {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .problem-name-title {
      margin: 0;
    }
  }

  .block-title {
    margin-top: -4.5rem;
    .block-title-item {
      margin-top: 4.5rem;
    }
  }
  .block-content {
    margin-top: 9px;
    min-height: 90px;
    margin-right: 75px;
  }

  hr {
    margin-top: 4.5rem;
  }

  button {
    border-width: 1px !important;
    font-weight: 400;
    color: rgb(124,124,124);
  }

  .markdown {
    .tabs {
      margin: 10px 0 0;
      display: flex;
      justify-content: flex-start;
      height: 40px;

      .tab {
        background-color: transparent;

        border: 1px solid rgba(198, 196, 196, 1);
        border-radius: 10px 10px 0 0;

        font-family: Poppins, sans-serif;
        font-size: 17px;
        font-weight: 400;

        padding: 7px 19px 3px;

        textarea {
          background: #F9F9F9;
        }
      }

      .current {
        border-bottom-color: transparent !important;
      }

      .placeholder {
        border: 1px solid transparent;
        border-bottom-color: rgba(198, 196, 196, 1);
      }
    }
    .main {
      box-sizing: border-box;
      background: #FFF;
      border: 1px solid #E4E1E1;
      border-radius: 10px;
      margin-top: 11px;
      padding: 25px 20px;
    }
  }

  .tag-with-icon-list {
    .placeholder {
      color: rgba(164,164,164,1);
    }
    .item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      min-height: 1.5em;
      div {
        padding-top: 2.2px;
      }
      span {
        margin-left: 5px;
        overflow-wrap: anywhere;
      }

    }
  }
}