.problem-editor-rightbar {
  .problem-name-title {
    margin-bottom: 14px !important;
  }

  .block-title {
    margin-top: -4.5rem;
    .block-title-item {
      margin-top: 4.5rem;
    }
  }

  hr {
    margin-top: 3rem;
  }
}