#filter {
  font-size: 15px;
  color: #F9F9F9;
}

#searchBar {
  height: 38px;
  width: 100%;
}

#create-exam-btn {
  height: 38px;
}

.items-table {
  thead {
    border-bottom: 2px solid #6D6E7D;
    color: #676877;
  }

  tr {
    color: #6D6E7D;
  }


  th {
    text-align: left !important;
  }

  tbody tr:nth-child(2n-1) {
    background: #F9F9F9;
  }

  td {
    text-align: left;
    vertical-align: middle;
  }

  td:last-child {
    text-align: right;
  }
}
