
.confirmation-modal {
  #modal {
    padding: 30px 40px 27px 40px;
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    color: #676877;
  }

  #delete-btn {
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border-color: rgba(0, 0, 0, 0);
  }
}
