.container {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.custom-title-font {
    font-size: 35px;
    font-weight: bold;
    color: #374550;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.my-btn-text {
    font-weight: 600;
    color: #676877;
}

#searchBar {
    height: 30px;
    width: 100%;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table th {
    text-align: left;
}

.table tbody tr:nth-child(2n-1) {
    background: #F9F9F9;
}
.table td {
    text-align: left;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.my-exam-table thead {
    border-bottom: 2px solid #6D6E7D;
    text: #676877;
}

.my-exam-table tr {
    color: #6D6E7D;
}

.fake-link {
    color: #1273BA;
    cursor: pointer;
}

#filter {
    color: #F9F9F9;
}

#create-exam-btn {
    height: 30px;
    background: #91CB46;
    color: white;
}
