
.create-exam-modal .container {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}


.my-btn-text {
    font-weight: 600;
    color: #676877;
}

.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.my-exam-table thead {
    border-bottom: 2px solid #6D6E7D;
    text: #676877;
}

.my-exam-table tr {
    color: #6D6E7D;
}


table tr > th:not(:first-child), table tr > td:not(:first-child) {
    text-align: left !important;
}