/* to hide original upload button */
/* TODO: Should be moved to ProblemEditor.scss */
.problem-editor-old .original-upload-button {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.problem-editor-old .test-case-upload-button {
    width: 110px;
    height: 28px;

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #F2B311;
    border-radius: 10px;

    /* Button */

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: white;
}

/* TODO: apply in the UploadFileButton */
/*.problem-editor .provided-code-button:hover {*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    background: rgb(31, 152, 178);*/
/*}*/