:root {
    --brandColor: rgb(62, 189, 217);
    /* not sure about the color */
    --background: white;
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: rgb(62, 189, 217);
}

.problem-editor .column {
    float: left;
}

.problem-editor .left {
    padding-left: 150px;
    padding-right: 50px;
    flex-grow: 1;
}

.problem-editor .right {
    flex-grow: 2;
    padding-right: 120px;
}

.problem-editor section {
    padding-bottom: 70px;
}

.problem-editor body {
    background: var(--background);
    height: 100vh;
}

.problem-editor .field:not(:last-child) {
    margin-bottom: 1rem;
}

.problem-editor #title {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.problem-editor #title span {
    color: var(--brandColor);
}

.problem-editor .field {
    padding-left: 0;
}

.problem-editor input {
    font-size: 1rem;
}

input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.button-submit:hover {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(31, 152, 178);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
