:root {
    --brandColor: rgb(62, 189, 217);
    /* not sure about the color */
    --background: white;
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: rgb(62, 189, 217);
}

.problem-editor-old section {
    padding-bottom: 70px;
}

.problem-editor-old body {
    background: var(--background);
    height: 100vh;
}

.problem-editor-old .field:not(:last-child) {
    margin-bottom: 1rem;
}

.problem-editor-old #title {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.problem-editor-old #title span {
    color: var(--brandColor);
}

.problem-editor-old .field {
    padding-left: 0;
}

.problem-editor-old input {
    font-size: 1rem;
}

input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.button-submit:hover {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(31, 152, 178);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
