$light-red: #E26C65;

.remove-examinee-confirmation-modal {
  #modal {
    padding: 30px 40px 27px 40px;
    font-family: 'Poppins', sans-serif;
  }

  .modal-header {
    color: $light-red;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    color: #676877;
  }

  #remove-btn {
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    background: $light-red;
    color: white;
    border-color: rgba(0, 0, 0, 0);

    &:hover {
      background: #D84E47;
    }
  }
}
