.create-group-modal #modal {
    padding: 45px 28px 27px 28px;
}

.create-group-modal #create-btn {
    width: 167px;
    height: 44px;
    background: #91CB46;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}
