$dark-gray-color: #676877;
$light-gray-color: #C4C4C4;

.compilation-script {
  color: rgba(18, 115, 186, 1);
  font-size: 18px;

  .compile-script-text-area {
    display: block;
    font-size: 17px;
    color: $dark-gray-color;

    width: 70%;
    min-width: 280px;
    max-width: 450px;
    height: 20%;
    padding: 10px;
    margin-bottom: 5px;

    background-color: #F9F9F9;
    border-radius: 10px;
    border-color: $light-gray-color;

    outline: none;

    &:focus {
      border-color: $dark-gray-color;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &::placeholder {
      color: $light-gray-color;
    }
  }

  .auth-generation-button {
    border-width: 1px;
    font-weight: 600;
    outline: none;
    box-shadow: none;
    padding: 10px;
    width: 11em;
    height: 36px;
    background-color: rgba(236, 112, 99, 1);
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 50px;
  }

  .auth-generation-button:hover {
    color: #FFFFFF; // necessary, remove this the button's text will be black during hovering
  }
}
