$light-green: #96D745;
$dark-green: #9DCC61;

.dropdown-button {
  margin-left: 5px;

  .button {
    border-radius: 10px;
    font-weight: 600;
    background: $light-green;
    border-color: $light-green;
    color: white;
    align-content: center;
    justify-content: center;

    &:focus {
      background: $dark-green;
      box-shadow: 0 0 0 0 $dark-green;
      border-color: $dark-green;
    }

    &:hover {
      background: $dark-green;
    }
  }

  .dropdown-content {
    text-align: center;
    color: #3C4D27;
    font-weight: 500;
    width: 6rem;
    cursor: pointer;

    .dropdown-item {
      padding: 3px 2px 3px 2px;
      font-size: 1rem;
    }

    p:hover {
      background: #B4DA87;
      color: #2E3B1E;
    }
  }
}
