$gray-color: #6D6E7D;
$blue-color: #1273BA;

.testcase-editor {
  height: auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  font-weight: 500;

  &.can-save {
    border-color: #58D68D;
  }

  &.cannot-save {
    border-color: #FB5D53;
  }

  &.testcase-view {
    border: 1px solid #E4E1E1;
  }


  .name-error-message {
    color: red;
    font-size: 13px;
  }


  hr {
    height: 1px;
    background-color: $gray-color;
    margin: 6px 0 6px 0 !important;
  }

  .testcase-name-row {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .testcase-name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: $gray-color;

    .testcase-name-input {
      margin-left: 10px;
      padding-left: 10px;
      border-radius: 10px;
      height: 33px;
      border: 1px solid #E4E1E1;
      font-size: 18px;
      color: $blue-color;
    }

    span {
      color: $blue-color;
      margin-left: 10px;
    }
  }

  .testcase-subtitle {
    color: $gray-color;
    font-size: 15px;
    margin-top: 20px;
  }

  .testcase-details {
    display: flex;
    flex-wrap: wrap;

    .subColumn {
      min-width: 200px;
    }

    .bullet-text {
      color: $blue-color;
      font-size: 13px;
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      span {
        margin-left: 6px;
      }

      input {
        font-size: 13px;
        height: 22px;
        width: 100px;
        border: transparent;
        margin-left: 5px;
        padding-left: 5px;
        text-align: center;
        background-color: #F3F3F3;
        color: $gray-color;

        &:focus::placeholder {
          color: transparent;
        }

        &::placeholder {
          color: #C4C4C4;
        }
      }
    }
  }

  .delete-button {
    height: 36px;
    width: 70px;
    line-height: 15px;
    font-size: 15px;
    border-radius:25px;
    border-width: 1px;
    color:#FB5D53;
    border-color:#FB5D53;
    margin-left:10px
  }

  .delete-button:hover {
    color:#FB5D53;
    border-color:#FB5D53;
  }


  .save-button {
    width: 70px;
    height: 44px;
    font-size: 15px;
    border-radius:25px;
    border-width: 1px;
    color:#FB5D53;
    border-color:#FB5D53;
    margin-left:10px
  }
}

