.testcase-editor {
  height: 336px;
  //background: #F9F9F9;
  display: flex;
  flex-direction: column;
  border: 1px solid #58D68D;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  font-weight: 600;

  hr {
    height: 1px;
    background-color: #6D6E7D;
    margin: 7px 0 7px 0 !important;
  }

  .testcase-name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #6D6E7D;
    margin-bottom: 20px;

    .testcase-name-input {
      margin-left: 10px;
      border-radius: 10px;
      height: 28px;
      width: 150px;
      border: 1px solid #E4E1E1;
    }
  }

  .testcase-subtitle {
    color: #6D6E7D;
    font-size: 15px;
  }

  .inline-input {
    color: #1273BA;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    span {
      margin-left: 6px;
    }

    input {
      height: 22px;
      width: 60px;
      border: transparent;
      margin-left: 5px;
      background-color: #F3F3F3;
      border-bottom-color: #C4C4C4;
      color: #6D6E7D;
    }

  }

  .testcase-left {
    flex-grow: 1;
  }

  .testcase-mid {
    flex-grow: 1;
  }

  .testcase-right {
    flex-grow: 1;
  }
}
