:root {
    --brandColor: rgb(62, 189, 217);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: rgb(62, 189, 217);
}

body {
    background: var(--background);
    height: 100vh;

}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

#title {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

#title span {
    color: var(--brandColor);
}

.cms-header {
    margin-top: 10rem;
    border-radius: 10px;
    background-color: #282c34;
}

.register {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login {
    padding: 0.75rem;
    color: var(--textLight);
    font-size: 1.5rem;
}

.field {
    padding-left: 4rem;
    padding-right: 4rem;
}

input {
    font-size: 1rem;
}

input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}

.button-submit {
    width: 150px;
    height: 48px;

    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: var(--brandColor);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.button-submit:hover {

    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(31, 152, 178);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
