.problem-editor .problem-editor-title {
    margin-left: 150px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #1273BA;
}

.problem-editor .problem-name-editor-btn {
    cursor: pointer;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    color: #A2A3B1;
}

.problem-editor .save-problem-name-btn {
    width: 1021px;
    height: 55px;
    left: 133px;
    top: 79px;
    margin-left: 150px;

    background: #F9F9F9;
    border: 1px solid #C6C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.problem-editor .save-problem-name-btn {
    padding: 15px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;

    display: flex;
    align-items: center;

    color: #6D6E7D;
}