.fixed-text-input-field {
  position: relative;
  color: #1273BA;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 33px;
  height: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: #E4E1E1;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: center;

  .text-item {
    width: 85%;
    height: 100%;
    overflow-wrap: anywhere;
  }

  .text-item-remove-button {
    cursor: pointer;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
