.problem-editor .test-case-box-out {
    height: 336px;
    background: #F9F9F9;
    border: 1px solid #A2A3B1;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 17px;
}

.problem-editor .test-case-name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #6D6E7D;
}

.problem-editor .text-case-name-input {
    height: 28px;
    width: 150px;
    border: 1px solid #E4E1E1;
}

.problem-editor .test-case-box-in {
    height: 240px;
    background: #FFFFFF;
    border: 1px solid #E4E1E1;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 2px;
}

.problem-editor .test-case-left {
    flex-grow: 1;
}

.problem-editor .test-case-mid {
    flex-grow: 1;
}

.problem-editor .test-case-right {
    flex-grow: 1;
}
