:root {
    --brandColor: rgb(62, 189, 217);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: rgb(62, 189, 217);
}

hr {
    /*display: block;*/
    /*border: 50px;*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    color: black;
    border-style: inset;
    border-width: 1px;
    /*border-color: gray;*/
    /*max-width: 4000mm;*/
}

h2 {
    padding-top: 10px;
    color: #6D6E7D;
    font-family: Poppins, sans-serif;
}

section {
    padding-left: 143px;
    padding-bottom: 70px;
}

.tag-input {
    width: 250px;
    height: 33px;
    border: 1px solid #E4E1E1;
}

.tag-button {
    width: 33px;
    height: 33px;

    /* Add Btn */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;

    background: #F9F9F9;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.tag-item {
    color: #1273BA;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 284px;
    height: 33px;
    border: 1px solid #E4E1E1;
    box-sizing: border-box;

    /* ?????? */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
}

.delete-icon {
    position: absolute;
    /*margin-right: 15px;*/
    /*text-align:right;*/
    width: 10px;
    height: 10px;
    float: right;
    left: 405px;
}

.provided-code-item {
    color: #1273BA;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 284px;
    height: 33px;
    border: 1px solid #E4E1E1;
    box-sizing: border-box;

    /* ?????? */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
}

/* to hide original upload button */
.provided-code-upload {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.provided-code-button {
    width: 215px;
    height: 33px;

    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;

    background: #3EBDD9;
    border-radius: 10px;

    /* Button */

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: white;
}

li {
    color: #1273BA;
    /* radix-icons:dot-filled */
    /*position: static;*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*left: 0px;*/
    /*top: 9px;*/

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;
    padding-bottom: 10px;
}

li span {
    position: relative;
    left: -10px;
}

/*.resource-spec-font {*/
/*    !* CPU *!*/
/*    position: static;*/
/*    width: 33px;*/
/*    height: 24px;*/
/*    left: 11px;*/
/*    top: 0px;*/

/*    font-family: Poppins;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    !* identical to box height *!*/

/*    display: flex;*/
/*    align-items: center;*/

/*    color: #1273BA;*/

/*    !* Inside Auto Layout *!*/

/*    flex: none;*/
/*    order: 1;*/
/*    flex-grow: 0;*/
/*    margin: 0px 5px;*/
/*}*/

.resource-spec-input-box {
    /* Input Box - small */
    /* Auto Layout */

    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    padding: 2px 5px 2px 10px;

    position: static;
    width: 75px;
    height: 24px;
    left: 51px;
    top: 0px;

    background: #F3F3F3;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 7px;
}

.compile-script-button {
    /* Button */
    position: static;
    width: 89px;
    height: 18px;
    left: 6px;
    top: 2px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #3EBDD9;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

    background: #FFFFFF;
    border: 1px solid #3EBDD9;
    box-sizing: border-box;
    border-radius: 10px;
}

.compile-script-text-area {
    background: #F9F9F9;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    background: var(--background);
    height: 100vh;

}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

#title {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

#title span {
    color: var(--brandColor);
}


.field {
    padding-left: 0;
}

input {
    font-size: 1rem;
}

input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
}

/*.button-submit {*/
/*    width: 150px;*/
/*    height: 48px;*/

/*    border: none;*/
/*    color: white;*/
/*    font-size: 1rem;*/
/*    font-weight: bold;*/
/*    background: var(--brandColor);*/
/*    border-radius: 5px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

.button-submit:hover {

    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: rgb(31, 152, 178);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#test_title {
    /* Header - Name */

}

